* {
  margin: 0;
  padding: 0;
  outline: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
    font-family: OpenSans, sans-serif;
    color:  #8c9398;
    font-size: 14px;
    height: 100%;
    padding: 0;
    margin: 0;

}
p {
    color:  #434343;
    font-size: 23px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}
h1 {
    color:  #000000;
    font-size: 23px;
    font-weight: 300;

}
.headmenu {
  width: 100%;
  height: 100%;
}
.grayline {
  background: #dfdfdf;
  width: 100%;
  height: 106px;
  border-style: solid;
  border-width: 0 0 1px 0;
}
.grayline h1 {
  margin-left: 24.140625%;
  margin-top: 26px;
  width: 304px;
}
.nav{
  background: #231f21;
  width: 100%;
  height: 36px;
  padding-left: 24.140625%;
}
.menu {
  background: #231f21;
  text-align: left;
  height: 36px;
  display: block;

}
.menu li {
  display: inline-block;
  margin-top: 8px;
  padding-top: 0px;
  padding-left: 0px;
}
.menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  text-align: left;
}
a span {
  margin-left: 20px;
  margin-right: 20px;
}
.icon-menu {
  width: 44px;
  height: 29px;
  display: none;
  margin-top: 19px;
  margin-right: 12px;
}
.winclose {
  width: 100%;
  text-align: right;
}
.close {
  width: 32px;
  height: 34px;
  margin: 16px 13px 15px 0;
  display: none;
  text-align: right;
}
.logo {
  background: #25ce8c;
  position: absolute;
  left: 12.1875%;
  padding-top: 11px;
  top: 0px;
  width: 103px;
  height: 116px;
  z-index: 25;
}
.product {
  text-align: left;
}
.ring {
  display: inline-block;
  width: 425px;
  height: 426px;
  background: url(../images/bg.png) center/cover;
  margin: 63px 7.1875% 0 12.734375%;
}
.descr {
  display: inline-block;
  vertical-align: top;
  margin-top: 152px;
}
.column {
  display: inline-block;
}
.mobtext {
  display: none;
}
.mobtext p {
  padding-bottom: 10px;
}
.left {
  margin-right: 50px;
}
.bottom {
  margin-bottom: 22px;
}
.bot {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #cccccc;
  text-align: center;
}
.bot p {
  color:  #585555;
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .logo {
  left: 5.56640625%;
}
.nav{
  padding-left: 20.5078125%;
}
.grayline h1 {
  margin-left: 20.5078125%;
}
.ring {
  margin: 27px 5.6640625% 0 3.90625%;
}
.descr {
  margin-top: 116px;
}
}

@media (max-width: 640px) {
  .grayline {
    height: 66px;
}
.grayline h1 {
  margin-left: 29.53125%;
  position: absolute;
  top: 0;
}
.product {
  text-align: center;
}
.ring {
  margin: 65px 0 0 0;
}
.descr {
  margin-top: 83px;
}
  .icon-menu {
    display: inline-block; 
}
.close {
  display: inline-block;
}
.nav{
  padding-left: 0;
  text-align: right;
  background: inherit;
}
.menu {
  height: 309px;
  position: absolute;
  z-index: 999;
  display: none;
  width: 100%;

  top: 0;
}
.menu li {
  display: block;
  margin-top: 0;
  padding-top: 22px;
  padding-left: 59px;
}
.menu li a {

}
a span {
  display: none;
}
}
@media (max-width: 320px) {
.grayline {
  height: 64px;
}
.grayline h1 {
  display: none;
}
.logo {
  width: 60px;
  height: 64px;
  padding-top: 5px;
}
.ring {
  width: 302px;
  height: 303px;
  margin: 0;
}
.descr {
  margin: 0px;
}
.column {
  display: none;
}
.mobtext {
  display: block;
}
}
